/*页面*/
.content{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background: #eee;
}
/*区块样式*/
.common_cont{
    width: 1080px;
    margin: 0 auto;
    height: 2.5em;
    box-sizing: border-box;
}
